<html lang="pt-br">

<head>
  <title>Marketshop</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img
        src="/static/img/icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Marketshop
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editar Perfil</a>
            <a class="dropdown-item" href="#">Favoritos</a>
            <a class="dropdown-item" href="#">Historico</a>
            <a class="dropdown-item" href="#">Configuração</a>
            <a class="dropdown-item" href="#">Privacidade</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#Modal1">LogOff</a>

          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/All_Chat">Mensagens<span class="badge badge-danger">1</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notificações <span class="badge badge-danger">1</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Feedback">Feedback</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Procure por algo" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>

<footer class="footer navbar-fixed-bottom">

<div class="input-group align-self-end">
  <input  type="text" class="form-control" whidth="" aria-label="Text input with segmented dropdown button" placeholder="Escreva sua mensagem">
  <button type="button" class="btn btn-success">Enviar Mensagem</button>
  <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Arquivos</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Imagem</a></li>
    <li><a class="dropdown-item" href="#">Audio</a></li>
    <li><a class="dropdown-item" href="#">Localização</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Documento</a></li>
  </ul>
</div>

</footer
    <!-- POPUP LOGOFF-->
<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja fazer log out da sessão do atual?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja sair??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <a class="btn btn-danger" href="/">Log Out</a>
    </div>
  </div>
</div>

    <!-- POPUP LOGOFF-->
</body>

</html>