
<html lang="pt-br">

<head>
  <title>Marketshop</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img
        src="/static/img//icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Marketshop
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Project Network
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Quem Somos?</a>
            <a class="dropdown-item" href="/we_offer">O que oferecemos?</a>
            <a class="dropdown-item" href="#">Como o Marktshop Funciona?</a>
            <a class="dropdown-item" href="#">Como crescer no Marktshop?</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Security">Segurança</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Feedback">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">COVID-19</a>
        </li>
      </ul>
        <a class="btn btn-dark mr-sm-2" href="/Sign_In">Login</a>
      <a class="btn btn-light mr-sm-2" href="/Sign_Up">Registre-se</a>
    </div>
  </nav>
<br>
<center><h3>Escolha o tipo de ingresso na plataforma</h3></center>
<center><p>Futuramente você pode optar por ambos</p></center>

<div class="card-deck text-center">
  <div class="card">
    <img class="card-img-top" src="/static/img/Pess_Fis.png" height="60%" alt="Imagem de capa do card">
      <div class="card-body text-center">
        <h5 class="card-title">Pessoa Fisica</h5>
        <p class="card-text">Pessoas que trabalham como autônomos</p>
        <a href="/Sign_Up" class="btn btn-primary">Registrar</a>
      </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top" src="/static/img/MEI_CNPJ.jpg" height="60%" alt="Imagem de capa do card">
      <div class="card-body text-center">
        <h5 class="card-title">Pessoa Juridica</h5>
        <p class="card-text">(MEI/CNPJ) Empreendedores que tem um pequeno negócio e conduz sua empresa sozinho</p>
        <a href="/Sign_Up2" class="btn btn-primary">Registrar</a>
      </div>
  </div>
  </div>
</div>



    </body>

</html>
