<html lang="pt-br">

<head>
  <title>Local Services</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img
        src="/static/img//icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Local Services
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
             Life Script
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">Quem Somos?</a>
            <a class="dropdown-item" href="/we_offer">O que oferecemos?</a>
            <!--<a class="dropdown-item" href="#">Como o Marktshop Funciona?</a>
            <a class="dropdown-item" href="#">Como crescer no Marktshop?</a>-->
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Security">Segurança</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Feedback">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">COVID-19</a>
        </li>
      </ul>
        <a class="btn btn-light mr-sm-2" href="/Sign_In">Entrar</a>
      <a class="btn btn-success mr-sm-2" href="/Choose_sub">Começar</a>
    </div>
  </nav>


      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Coronavírus (COVID-19):</strong> Dicas de prevenção e cuidados <br>

       Proteja a si mesmo e as pessoas ao seu redor conhecendo os fatos e tomando as precauções apropriadas. Siga os conselhos da autoridade local de saúde.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <div class="jumbotron background text-light">
      <h1 class="display-4">Local Services</h1>
      <p class="lead">"Trabalho Autônomo com Qualidade e Segurança"</p>
      <hr class="my-4">
      <p>"Escolha um trabalho que você goste e não terá que trabalhar nem um dia na sua vida."</p>
      <a class="btn btn-primary btn-lg" href="/more" role="button">Saiba mais</a>
    </div>

<center><h2>Feed de notícias e Atualizações</h2></center>
<br>
 <div class="container">
          <div class="row">
            <div class="col-md-4 login-sec">
                    <div class="card">
        <img src="/static/img/Home/DevMobile.jpg" class="card-img-top"  height="250" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aplicativo para Smartphone</h5>
          <p class="card-text">"Estamos desenvolvendo um aplicativo para seu smartphone"</p>
          <p class="card-text"><small class="text-muted">Sem data para lançamento</small></p>
	<button class="btn btn-primary" type="button" disabled>
 	 <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
 	 Em Desenvolvimento
	</button>
        </div>
      </div>
            </div>
                   <!--FUNCIONAR O SLIDE uselExampleSlidesOnly" class="carousel" data-ride="carousel">-->
            <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/Home/Home_car.jpg" class="d-block" width="760" height="480" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://dmrcsistemas.com.br/wp-content/uploads/2019/03/87f69a4de8ce175cd1fd19249da816c0.jpg" class="d-block" width="760" height="480" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.10wallpaper.com/wallpaper/1440x900/1606/Internet_Business_Technology_HD_Wallpaper_13_1440x900.jpg" class="d-block" width="760" height="480" alt="...">
                </div>
              </div>
            </div>

          </div>
        </div>
        <br>
    <div class="card-group">
      <div class="card">
        <img src="https://www.altafloresta.mt.leg.br/processo-legislativo/noticias/segunda-noticia/image" class="card-img-top"  height="200" alt="...">
        <div class="card-body">
          <h5 class="card-title">(Proxima Atualização)</h5>
          <p class="card-text">"Função será adicionada em breve, aguarde."</p>
          <p class="card-text"><small class="text-muted">Manutenção</small></p>
	<button class="btn btn-primary" type="button" disabled>
 	 <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
 	 Em Manutenção
	</button>
        </div>
      </div>

      <div class="card">
        <img src="/static/img/Home/Wallpaper2.jpg" class="card-img-top" height="200"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Crie seu próprio negócio</h5>
          <p class="card-text">"Seja autonomo e Trabalhe com seus horarios e gostos"</p>
          <p class="card-text"><small class="text-muted">.</small></p>
	  <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
	<div class="card">
        <img src="/static/img/Home/Wallpaper1.jpg" class="card-img-top" height="200"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Procure por Profissionais</h5>
          <p class="card-text">"Profissionais mais perto de você com amor a Profissão"</p>
          <p class="card-text"><small class="text-muted">.</small></p>
	  <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>

      <div class="card">
        <img src="/static/img/Home/wallpaper3.png" class="card-img-top" height="200"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Problemas ou Ideias?</h5>
          <p class="card-text">"Dê um Feedback para novas ideias ou problemas na qual você encontra"</p>
          <p class="card-text"><small class="text-muted">Analisaremos seu feedback e daremos retorno :)</small></p>
          <a href="/Feedback" class="btn btn-primary">Feedback</a>
        </div>
      </div>
    </div>
          <center><p>©Life_Script 2021</p> </center>
  </body>

</html>
