<html lang="pt-br">

<head>
  <title>Local Services</title><!-- TITULO -->
  <meta charset="utf-8">
    <script src="//code-sa1.jivosite.com/widget/RqNnIpnyAG" async></script>
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!--==================================================================
			CSS Stylesheets
		==================================================================-->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/Preloader.css">

	<style id="fit-vids-style">
	    .fluid-width-video-wrapper{width:100%;position:relative;padding:0;}
	    .fluid-width-video-wrapper iframe,
	    .fluid-width-video-wrapper object,
	    .fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
	</style>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img
        src="/static/img/icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Local Services
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#intro">.  Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#feature">Features</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="#screenshots">Screenshots</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#video">Video</a>
        </li>
      </ul>
        <a class="btn btn-light mr-sm-2" href="/Sign_In">Entrar</a>
      <a class="btn btn-success mr-sm-2" href="/Choose_sub">Começar</a>
    </div>
  </nav>



		<!--page-borders
		<div class="page-borders">
			<div class="left"></div>
			<div class="right"></div>
		</div>-->
		<!--==================================================================
			Preloader
		==================================================================-->
		<div id="preloader">
			<div class="loader">
				<img src="/static/img/load.gif" alt="">
			</div>
		</div>


		<!--==================================================================
			Main Wrapper
		==================================================================-->
		<div id="main-wrapper">


			<!--==================================================================
				Intro Section
			==================================================================-->
			<section id="intro" class="section intro-section">
				<div class="container">
					<div class="row intro-cols">
						<div class="col-md-6 col-md-push-6">
							<div class="phone">
								<div class="phone-img">
									<img src="static/img/mobile/phone1.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-pull-6">
							<div class="v-align">
								<div class="inner">
									<div class="intro-text">
										<h2>
											Local Servies Mobile
										</h2>
										<p>
											Aplicativo Mobile para Android e IOS em desenvolvimento.
										</p>
										<div class="intro-download-btns">
											<a href="#" class="app-btn">
												<img src="static/img/mobile/appstore.png" alt="">
											</a>
											<a href="#" class="app-btn">
												<img src="static/img/mobile/googleplay.png" alt="">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Features Section -- 1
			==================================================================-->
			<section id="features" class="section features-section">
				<div class="container">
					<div class="phone-img">
						<img src="static/img/mobile/phone2.png" alt="">
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="features-text">
								<h2>Seu trabalho na palma da sua mão</h2>
								<p>
									Com a intenção de facilitar seu trabalho, estamos desenvolvendo um aplicativo mobile para seu smartphone, Seu trabalho na palma da sua mão.
								</p>
							</div>
						</div>
					</div>
					<div class="row features-row">
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<div class="icon">
									<i class="ion-ios-heart-outline"></i>
								</div>
								<div class="content">
									<h4>Multiplataforma</h4>
									<p>
											Com a multiplataforma, o Local Services será desenvolvido e funcionará perfeitamente em sistemas web, Android e iOS .
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<div class="icon">
									<i class="ion-ios-loop"></i>
								</div>
								<div class="content">
									<h4>Atualizações semanais</h4>
									<p>
									Aplicativo para smartphone sempre terá atualizações semanais para soluções de bugs ou implementações de novos itens.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<div class="icon">
									<i class="ion-ios-pie-outline"></i>
								</div>
								<div class="content">
									<h5>Ajude-nos com seu Feedback</h5>
									<p>
										Ajude-nos dando seu feedback sobre o desenvolvimento do APP Mobile. Dicas, Resoluções ou Bugs encontrados no sistema, caso seja util a equipe lhe recompensará.
										</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Features Section -- 2
			==================================================================-->
			<section id="features-2" class="section features-2-section bg-lightgray">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-push-6">
							<div class="phones">
								<img class="front" src="static/img/mobile/phone-white.png" alt="">
								<img class="back" src="static/img/mobile/phone-black.png" alt="">
							</div>
						</div>
						<div class="col-md-6 col-md-pull-6">
							<div class="screen-info-text">
								<h2>Simples &amp; Fácil</h2>
								<p>Aplicativo simples e facil de se usar.</p>
								<a href="#" class="btn-minimal">
									Faça o download agora
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Features Section -- 3
			==================================================================-->
			<section id="features-3" class="section features-2-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="phones order-alt">
								<img class="back" src="static/img/mobile/phone-black.png" alt="">
								<img class="front" src="static/img/mobile/phone-white.png" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="screen-info-text">
								<h2>Aplicativo Baseado em Widgets </h2>
								<p>Basicamente, um widget é um componente visual para definir a interface de um aplicativo.</p>
								<a href="#" class="btn-minimal">
									Faça o download agora
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Screenshots Section
			==================================================================
			<section id="screenshots" class="section screenshots-section bg-lightgray">
				<div class="container">
					<div class="top-section-header">
						<h2>TELAS</h2>
						<p>Dê uma olhada no aplicativo antes de baixar</p>
					</div>
					<ul class="screenshots-slider owl-carousel owl-theme owl-loaded">


					<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1944px, 0px, 0px); transition: all 1.5s ease 0s; width: 5184px;"><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/phone3.png" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/1.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/2.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/2.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/3.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/3.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item active" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/4.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/4.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/5.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/5.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/6.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/6.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/8.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/8.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><li>
							<div class="inner">
								<img src="static/img/mobile/screens/9.jpg" alt="">
								<div class="overlay">
									<a href="static/img/mobile/screens/9.jpg" class="view-btn">
										<i class="ion-ios-plus-empty"></i>
									</a>
								</div>
							</div>
						</li></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></ul>
				</div>
			</section>-->


			<!--==================================================================
				Features Section -- 4
			==================================================================-->
			<section id="features-4" class="section features-4-section">
				<div class="container">
					<div class="row">
						<div class="col-md-4 features-col text-right">
							<div class="col-feature">
								<div class="icon">
									<i class="ion-ios-heart-outline"></i>
								</div>
								<div class="content">
									<h4>TEXTO 1</h4>
									<p>
										frase 1
										</p>
								</div>
							</div>
							<div class="col-feature">
								<div class="icon">
									<i class="ion-ios-loop"></i>
								</div>
								<div class="content">
									<h4> TEXTO 2</h4>
									<p>
									    FRASE 2
									    	</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="features-phone">
								<img src="static/img/mobile/phone3.png" alt="">
							</div>
						</div>
						<div class="col-md-4 features-col">
							<div class="col-feature">
								<div class="icon">
									<i class="ion-ios-cart-outline"></i>
								</div>
								<div class="content">
									<h4>TEXTO 3</h4>
									<p>
										FRASE 3
										</p>
								</div>
							</div>
							<div class="col-feature">
								<div class="icon">
									<i class="ion-ios-color-wand-outline"></i>
								</div>
								<div class="content">
									<h4>TEXTO 4</h4>
									<p>
									TEXTO 4
											</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Video Section
			==================================================================-->
			<section id="video" class="section video-section bg-lightgray">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="col-section-header">
								<h2>FRASE DO VIDEO</h2>
								<p>
								SUB-FRASE
									</p>
							</div>
						</div>
						<div class="col-md-8">
							<div class="video-container">
								<div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="https://www.youtube.com/watch?v=Rsj_z43oNRk" frameborder="0" allowfullscreen="" id="fitvid0"></iframe></div>
							</div>
						</div>
					</div>
				</div>
			</section>



			<!--==================================================================
				Team Section
			==================================================================
			<section id="team" class="section team-section">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="col-section-header">
								<h2>Meet the geniuses behind this amazing app</h2>
								<p>
									No dolorem blandit theophrastus eos, nam eu persecuti repudiandae, duo hinc vide aliquip et. Ex atqui voluptatibus eum, cu case intellegebat eum, mea ex regione patrioque signiferumque.
								</p>
								<a href="#" class="btn-minimal">
									Join Our Team
								</a>
							</div>
						</div>
						<div class="col-md-8">
							<div class="team-persons">
								<div class="row">
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people1.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people2.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people3.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people4.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people5.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="team-member">
											<img src="img/people6.jpg" alt="">
											<div class="overlay">
												<div class="v-align">
													<div class="inner">
														<h4>Jake Doe</h4>
														<p>Founder &amp; CEO</p>
														<ul class="team-social">
															<li>
																<a href="#">
																	<i class="ion-social-facebook"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-googleplus"></i>
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="ion-social-twitter"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

-->
			<!--==================================================================
				Clients Section
			==================================================================
			<section id="clients" class="section clients-section bg-lightgray">
				<div class="container">
					<div class="top-section-header">
						<h2>Our Clients</h2>
						<p>Take a look at our clients and see what they say about us</p>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="clients">
								<li>
									<img src="img/logo1.png" alt="">
								</li>
								<li>
									<img src="img/logo2.png" alt="">
								</li>
								<li>
									<img src="img/logo3.png" alt="">
								</li>
								<li>
									<img src="img/logo4.png" alt="">
								</li>
								<li>
									<img src="img/logo5.png" alt="">
								</li>
								<li>
									<img src="img/logo6.png" alt="">
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="testimonials-slider owl-carousel owl-theme owl-loaded">



							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1296px, 0px, 0px); transition: all 1s ease 0s; width: 1944px;"><div class="owl-item" style="width: 648px; margin-right: 0px;"><div class="testimonial">
									<div class="icon">
										<i class="ion-quote"></i>
									</div>
									<div class="content">
										<p>
											An has alterum nominavi. Nam at elitr veritus voluptaria. Cu eum regione tacimates vituperatoribus, ut mutat delenit est. Adhuc scripserit et sea, everti liberavisse no sit.
										</p>
									</div>
									<div class="author">
										<h4>Michael Doe</h4>
										<span>CEO @ Google</span>
									</div>
								</div></div><div class="owl-item" style="width: 648px; margin-right: 0px;"><div class="testimonial">
									<div class="icon">
										<i class="ion-quote"></i>
									</div>
									<div class="content">
										<p>
											An has alterum nominavi. Nam at elitr veritus voluptaria. Cu eum regione tacimates vituperatoribus, ut mutat delenit est. Adhuc scripserit et sea, everti liberavisse no sit.
										</p>
									</div>
									<div class="author">
										<h4>Michael Doe</h4>
										<span>CEO @ Google</span>
									</div>
								</div></div><div class="owl-item active" style="width: 648px; margin-right: 0px;"><div class="testimonial">
									<div class="icon">
										<i class="ion-quote"></i>
									</div>
									<div class="content">
										<p>
											An has alterum nominavi. Nam at elitr veritus voluptaria. Cu eum regione tacimates vituperatoribus, ut mutat delenit est. Adhuc scripserit et sea, everti liberavisse no sit.
										</p>
									</div>
									<div class="author">
										<h4>Michael Doe</h4>
										<span>CEO @ Google</span>
									</div>
								</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div></div>
						</div>
					</div>
				</div>
			</section>
-->

			<!--==================================================================
				FAQ Section
			==================================================================-->
			<section id="faq" class="section faq-section">
				<div class="container">
					<div class="top-section-header">
						<h2>FAQ</h2>
						<p>Perguntas frequentes</p>
					</div>
					<div class="col-md-6">
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
						<div class="faq">
							<h4>PERGUNTA 1?</h4>
							<p>RESPOSTA 1</p>
						</div>
					</div>
				</div>
			</section>


			<!--==================================================================
				Download Section
			==================================================================-->
			<section id="download" class="section download-section" style="background-image:url(static/img/mobile/bg1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="download-text ">
								<h2>Faça o download agora</h2>
								<p>
									Aplicativo disponivel para Android & IOS.
								</p>
							</div>
						</div>
					</div>
					<div class="download-btns text-center">
						<a href="#" class="app-btn">
							<img src="static/img/mobile/appstore.png" alt="">
						</a>
						<a href="#" class="app-btn">
							<img src="static/img/mobile/googleplay.png" alt="">
						</a>
					</div>
				</div>
			</section>


			<!--==================================================================
				Rodapé
			==================================================================-->
			<footer>
				<div class="container text-center">
					<p>©Life_Script 2021</p>
				</div>
			</footer>

		</div>


		<!--==================================================================
			JavaScript Files
		==================================================================-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.fitvids.js"></script>
		<script src="/static/js/owl.carousel.min.js"></script>
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/js/validator.min.js"></script>
		<script src="/static/js/script.js"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>

</html>
