<html lang="pt-br">

<head>
  <title>Local Services</title><!-- TITULO -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/Index">
      <img
        src="/static/img/icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Local Services
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Favoritos</a>
            <a class="dropdown-item" href="#">Historico</a>
            <a class="dropdown-item" href="#">Configuração</a>
            <a class="dropdown-item" href="#">Privacidade</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">LogOff</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mensagens<span class="badge badge-danger">1</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notificações <span class="badge badge-danger">1</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="feed.html">Feedback</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class=" mr-auto ">


      <div class="form-row-4">
        <div class="card text-center">
        </ul>
        </div>
        <div class="card-body">

          <div class="jumbotron back wallpaper ">
            <div class="imageedit">
              <img src="/static/img//teste2.jpg" class="imagePerfil" alt="perfil">
            </div>
            <h1 class="display-4">Nome Completo do Autonomo</h1>
            <p>Frase de Efeito complementar só para o perfil</p>

            <hr class="my-0">

            <a class="btn btn-success text my-2" href="#" role="button">Adicionar</a>
            <a class="btn btn-primary text" href="#" role="button">Enviar mensagem</a>

          </div>
        </div>
      </div>


    </div>
    <div class="col-md-3">
      <div class="text-center">
        <br>
      </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Sobre</h5>
          <p class="card-text">Sou programador Full Stack, com conhecimento em C, C#, Java Script. Faço suporte tecnico de smartphone e computadores</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Programador Full Stack</li>
          <li class="list-group-item">Manutenção de Smartphones</li>
          <li class="list-group-item">Formatação de Computadores</li>
          <li class="list-group-item">Conhecimento com Banco de dados</li>

        </ul>
        <div class="card-body text-center">
          <a href="#" class="card-link">Email</a>
          <a href="#" class="card-link">Whatsapp</a>
          <a href="#" class="card-link">Instagram</a>
        </div>
      </div>
    </div>
  </div>


  <div class="card-group">
    <div class="card">
      <img src="/static/img/teste3.jpg" class="card-img-top" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Back-End para cliente</h5>
        <p class="card-text">Fui contratado para fazer um back-end para um cliente de fora</p>
        <p class="card-text"><small class="text-muted">Postado em 01/12/20</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/img/teste4.jpg" class="card-img-top" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Upgrade de Processador</h5>
        <p class="card-text">Cliente atualizando seu processador i3 8100 para um i9-9900k, será que ficou uma maquina</p>
        <p class="card-text"><small class="text-muted">Postado em 25/11/20</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/img/teste5.jpg" class="card-img-top" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Atualizando memoria RAM</h5>
        <p class="card-text">Atualizando 2Gb para 16GB, Cliente está fazendo uma maquina</p>
        <p class="card-text"><small class="text-muted">Postado em 20/11/20</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/img/teste6.jpg" class="card-img-top" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">limpeza interna do notebook</h5>
        <p class="card-text">Troca de pasta termica, limpeza a AR no equipamento, Utilizei Limpa contato e Limpei as memorias RAM, Novo de fabrica agora!!</p>
        <p class="card-text"><small class="text-muted">Postado em 01/11/20</small></p>
      </div>
    </div>
  </div>


<!--POP UP LOGoff-->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja fazer log out da sessão do atual?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja sair??
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a class="btn btn-danger" href="/">Log Out</a>
      </div>
    </div>
  </div>





</body>

</html>