<html lang="pt-br">

<head>
  <title>Local Services</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/static/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Local Services
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <input class="btn btn-danger" type="button" value="Voltar" onClick="history.go(-1)">
    </div>
  </nav>

<center>
  <div class="container">
    <div class="row">
      <div class="col">


        <h1 class="entry-title"><span>RECUPERAÇÃO DE CONTA</span> </h1>
        <hr>
        <form class="form-horizontal" method="post" name="signup" id="signup" enctype="multipart/form-data">
          <div class="form-group">
            <label class="control-label col-sm-3">CPF OU IMEI/CNPJ<span class="text-danger">*</span></label>
            <div class="col-md-12 col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" name="dadosid" id="dadosid" placeholder="Digite seu CPF/IMEI/CNPJ"
                  value="">
              </div>
            </div>
            <label class="control-label col-sm-3">Email<span class="text-danger">*</span></label>
            <div class="col-md-12 col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Digite seu email"
                  value="">
              </div>
              <small>Identifique-se para receber um email com as informações para trocar sua senha. </small>
            </div>
          </div>


          <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enviar</a>
          </div>

        </form>

      </div>
    </div>
  </div>

<center>
          <footer class="footer navbar-fixed-bottom">
          <center><p>©Life_Script 2021</p> </center>
          </footer>



  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">RECUPERAÇÃO DE CONTA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Verifique seu email para efetuar a recuperação de conta!!
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" href="/">Ir para pagina Inicial </a>
        </div>
      </div>
    </div>

</body>

</html>