
<html lang="pt-br">

<head>
  <title>Local Services</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img
        src="/static/img//icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Local Services
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
             Life Script
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">Quem Somos?</a>
            <a class="dropdown-item" href="/we_offer">O que oferecemos?</a>
            <!--<a class="dropdown-item" href="#">Como o Marktshop Funciona?</a>
            <a class="dropdown-item" href="#">Como crescer no Marktshop?</a>-->
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Security">Segurança</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Feedback">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">COVID-19</a>
        </li>
      </ul>
        <a class="btn btn-light mr-sm-2" href="/Sign_In">Entrar</a>
      <a class="btn btn-success mr-sm-2" href="/Choose_sub">Começar</a>
    </div>
  </nav>


            <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/Security/Wallpaper1.jpg" class="d-block" width="100%" height="90%"  alt="...">
      			<div class="carousel-caption d-none d-md-block">
        		<h1>"Sua segurança em primeiro lugar"</h1>
        		<p>Veja como oferecemos a segurança aos clientes e autonomos</p>
      			</div>
		</div>

              </div>
            </div>
<br>
<center><h1> Topico sobre Segurança (Construindo)</h1></center>
<div class="card mb-3" style="height: 210px; margin: 20px" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/Security/Covid.jpg" alt="..." width="100%" height="23%">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">Use mascaras</h5>
        <p class="card-text">Lembre que a máscara deve cobrir boca e nariz, deve ser higienizada com água sanitária e que ela é uma importante barreira física para evitar o coronavírus</p>
        <p class="card-text"><small class="text-muted">Use Alcool em gel e lave bem as mãos</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="height: 210px; margin: 20px" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/Security/Botao.jpg" alt="..." width="100%" height="50%">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">Botão Pânico</h5>
        <p class="card-text">Estamos desenvolvendo um botão chamado "Botão Pânico", O Botão de Pânico é uma funcionalidade de segurança, o mesmo permite que os clientes ou autonomos acionem em momentos de perigo, insegurança ou algum outro contratempo.</p>
        <p class="card-text"><small class="text-muted">Data de lançamento ainda não previsto</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="height: 228px; margin: 20px" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/Security/EPI.png" alt="..." width="100%" height="50%">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">Recomendações</h5>
        <p class="card-text">Todas as atividades profissionais que possam imprimir algum tipo de risco físico para o trabalhador devem ser cumpridas com o auxílio de EPIs. </p>
        <p class="card-text"><small class="text-muted">Use EPI's</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="height: 230px; margin: 20px" >
  <div class="row">
    <div class="col-md-4">
      <img src="/static/img/Security/Senhas.jpg" alt="..." width="100%" height="21%">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">Use Senhas fortes!!</h5>
        <p class="card-text">Proteger suas senhas é uma das formas mais importantes de garantir que suas interações online sejam seguras. </p>
        <p class="card-text"><small class="text-muted">A segurança começa quando criamos senhas fortes</small></p>
      </div>
    </div>
  </div>
</div>
          <center><p>©Life_Script 2021</p> </center>

    </body>

</html>
