<html lang="pt-br">

<head>
  <title>Projeto [PROTOTIPO]</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="Home.html">
      <img
        src="/static/img//icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Marketshop
    </a>
    </nav>


      <br>
      <p class="text-center">Junte-se a nossa comunidade e venha viver essa incrivel experiencia<a href=""> </a></p>

        <div class="container">
          <div class="row">
            <div class="col-md-4 login-sec">
              <h2 class="text-center">Login</h2>
              <form class="login-form">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Senha</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Senha">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <small>Lembre-me</small>
                  </label>
                  <a href="Index.html" type="submit" class="btn btn-login float-right">Login</a>
                </div>

              </form>
              <div class="copy-text">Não Tem Conta? <i class="fa fa-heart"></i><a href="Sign_Up.html">Inscreva-se</a></div>
	     <div class="copy-text"><i class="fa fa-heart"></i><a href="Recovery.html">Esqueci minha Senha!!</a></div>
            </div>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://tim-smb.s3.amazonaws.com/wp-content/uploads/2020/04/homem-home-office.png" class="d-block" width="760" height="500" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://images.unsplash.com/photo-1536300099515-6c61b290b654?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" class="d-block" width="760" height="500" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://bitcoinist.com/wp-content/uploads/2018/01/as-freelancing.jpg" class="d-block" width="760" height="500" alt="...">
                </div>
              </div>
            </div>

          </div>
        </div>
    </body>

</html>
