
<html lang="pt-br">

<head>
  <title>Marketshop</title><!-- TITULO -->
  <link rel="shortcut icon" href="/static/img/icon.png"> <!-- ICONE DA PAGINA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/static/css/estilos.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</head>

<body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img
        src="/static/img//icon.png"
        width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Marketshop
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Project Network
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">Quem Somos?</a>
            <a class="dropdown-item" href="/we_offer">O que oferecemos?</a>
            <!--<a class="dropdown-item" href="#">Como o Marktshop Funciona?</a>
            <a class="dropdown-item" href="#">Como crescer no Marktshop?</a>-->
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Security">Segurança</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/Feedback">Suporte</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="#">COVID-19</a>
        </li>
      </ul>
        <a class="btn btn-dark mr-sm-2" href="/Sign_In">Login</a>
      <a class="btn btn-light mr-sm-2" href="/Choose_sub">Registre-se</a>
    </div>
  </nav>


<div class="jumbotron background_ofer ">
      <h1 class="display-4 text-dark" >Tecnologia Marketshop</h1>
      <p class="lead text-dark">"Transformando seu Hobby em forma de renda"</p>
      <hr class="my-4 text-dark">
      <p>Trabalhe com suas especificações criando seus proprios horarios, renda e férias</p>
      	<button class="btn btn-dark" type="button" disabled>
 	 <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
 	 Aplicativo para Smartphones em desenvolvimento
	</button>
    </div>

<br>
<center><h3>Construindo</h3></center>
<center><p>Construindo</h5></center>
<br>
<center><h1>  (Construindo)</h1></center>





    </body>

</html>
